<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-4" style="padding:60px">
      <%= simple_form_for [@home] do |f| %>
        <%= f.input :home_type, placeholder: 'Entire House' %>
        <%= f.input :name, maxlength: 30, placeholder: 'Beautiful Downtown Location', opacity: 3%>
        <%= f.input :address, placeholder: '20 W 34th St, New York, NY 10001, USA'%>
        <%= f.input :guest, :collection => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
        <%= f.input :bedroom, :collection => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
        <%= f.input :bed, :collection => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
        <%= f.input :bath, :collection => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
        <%= f.input :rate, placeholder: '$25' %>
        <%= f.input :description, placeholder: 'A gorgeous location right in the heart of downtown New York with two....' %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, 'List this house', class: 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
