<div class="container p-4">
  <div class="row">
    <div class="col border-bottom">
      <h3 class="text-muted"><%= @home.home_type %></h3>
      <h2><%= @home.name %></h2>
      <p><%= @home.address %></p>
      <p><%= @home.bedroom %> Bedrooms</p>
      <p><i class="fas fa-user"></i> <%= @home.guest %> - <i class="fas fa-bed"></i> <%= @home.bed %> - <i class="fas fa-toilet"></i> <%= @home.bath %></p>
      <br>
      <br>
      <div
        class="rounded shadow"
        id="map"
        style="width: 220px;
        height: 200px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <div class="col">
      <div class="details-show">
        <%= link_to user_path(@home.user.id) do %>
          <%= cl_image_tag(@home.user.photo, alt: "avatar", class: "card-user avatar") %> <%= @home.user.first_name.capitalize %>
        <% end %>
      </div>
      <%= cl_image_tag @home.photo, class: "img-thumbnail show-image" %>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <br>
      <p class="border-bottom details-show"><%= @home.description %></p>
      <br>
      <div>
        <div class="details-show">
          <h3>Reviews</h3>
          <% review_count = 0 %>
          <% @home.reviews.each do |review| %>
            <% review_count += 1 %>
          <% end %>
          <% total = 0 %>
          <% @home.reviews.each do |review| %>
            <% total += review.rating %>
          <% end %>
          <% if total != 0 %>
            <i class="fas fa-star"></i> <%= total/review_count.to_f %>
          <% else %>
            <i class="fas fa-star"></i> <%= total %>
          <% end %>
          <small>
          (<%= review_count %> reviews)
          </small>
        </div>
        <div class="col overflow-auto listings">
          <% @home.reviews.each do|review| %>
            <div class="list-group border-bottom review-list">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                  <%= link_to user_path(review.user.id) do %>
                    <%= cl_image_tag(review.user.photo, class: "card-user avatar") %>
                  <% end %>
                  <%= review.user.first_name.capitalize %>
                </h5>
                <small>
                  <%= review.created_at.to_date.to_s(:long)  %>
                </small>
              </div>
              <p class="mb-1">
                "<%= review.content %>"
              </p>
              <small>
                <i class="fas fa-star"></i> <%= review.rating %>
              </small>
              <br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="create-form m-3">
        <p>$<%= @home.rate %> per night</p>
        <%= link_to 'edit listing', edit_home_path(@home)  %>
      </div>
    </div>
  </div>
</div>
