<div class="container p-4">
  <div class="row">
    <div class="col border-bottom">
      <h4 class="text-muted"><%= @home.home_type %></h4>
      <h2><%= @home.name %></h2>
      <p><%= @home.address %></p>
      <p><%= @home.bedroom %> Bedrooms</p>
      <p><i class="fas fa-user"></i> <%= @home.guest %> - <i class="fas fa-bed"></i> <%= @home.bed %> - <i class="fas fa-toilet"></i> <%= @home.bath %></p>
      <br>
      <br>
      <div
        class="rounded shadow show-map"
        id="map"
        style="width: 220px;
        height: 200px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <div class="col">
      <div class="details-show">
        <%= link_to user_path(@home.user.id), class: 'text-decoration-none' do %>
          <div class="text">
            <%= cl_image_tag(@home.user.photo, alt: "avatar", class: "card-user avatar") %> <%= @home.user.first_name.capitalize %>
          </div>
        <% end %>
      </div>
      <%= cl_image_tag @home.photo, class: "img-thumbnail show-image" %>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <br>
      <p class="border-bottom details-show"><%= @home.description %></p>
      <br>
      <div>
        <div class="details-show">
          <h3>Reviews</h3>
          <%= link_to 'leave a review', new_home_review_path(@home.id) %>
          <% review_count = 0 %>
          <% @home.reviews.each do |review| %>
            <% review_count += 1 %>
          <% end %>
          <% total = 0.0 %>
          <% @home.reviews.each do |review| %>
            <% total += review.rating %>
          <% end %>
          <% if total != 0 %>
            <i class="fas fa-star"></i>
              <% final = total/review_count %>
              <%= final.round(2) %>
          <% else %>
            <i class="fas fa-star"></i> <%= total %>
          <% end %>
          <small>
          (<%= review_count %> reviews)
          </small>
        </div>
        <div class="col overflow-auto listings">
          <% @home.reviews.each do|review| %>
            <div class="list-group border-bottom review-list">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                  <%= link_to user_path(review.user.id), class: 'text-decoration-none' do %>
                    <div class="text">
                      <%= cl_image_tag(review.user.photo, class: "card-user avatar") %>
                      <%= review.user.first_name.capitalize %>
                    </div>
                  <% end %>
                </h5>
                <small>
                  <%= review.created_at.to_date.to_s(:long)  %>
                </small>
              </div>
              <p class="mb-1">
                "<%= review.content %>"
              </p>
              <small>
                <i class="fas fa-star"></i> <%= review.rating %>
              </small>
              <br>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="create-form m-3 booking-form">
        <p>
          $<%= @home.rate %> /per night
        </p>
        <%= simple_form_for [@home, @booking] do |f| %>
          <%= f.input :check_in %>
          <%= f.input :check_out %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><%= f.button :submit, 'Book this home', class: 'btn btn-primary'%></button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  you have booked <%= @home.name %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

