<% @homes.each do |home| %>
  <h2><%= link_to home.name, home_path(home) %></h2>
  <p><%= home.address %></p>
<% end %>

<%= link_to 'create', new_home_path %>


<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
